<html>

	<head>
		<title>{{title}}</title>
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
		<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
		<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
		<link rel='manifest' href='/site.webmanifest' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap'
			rel='stylesheet'
		/>
	</head>

	<body class='font-sans'>

		<header
			class='z-10 sticky top-0 px-6 py-4 flex flex-wrap justify-between items-center gap-4 bg-wild-sand-50'
		>
			<a href='/' class='text-2xl text-wild-sand-700 font-bold'>Members Only</a>

			<nav class='md:flex items-center gap-4'>
				{{#unless user}}
					<a href='/login' class='btn'>Login</a>
					<a href='/signup' class='btn'>Signup</a>
				{{else}}
					{{#unless user.member}}
						<a href='/member' class='btn'>Become a Member</a>
					{{/unless}}
					<a href='/logout' class='btn'>Logout</a>
				{{/unless}}
			</nav>

		</header>

		{{{body}}}

	</body>

</html>