<h1>Create a messaage</h1>
<form id='create-message-form' action='/create_message' method='post'>
	<div>
		<label for='title'>title</label>
		<input type='text' id='title' name='title' required />
	</div>
	<div>
		<label for='text'>Message</label>
		<textarea name='text' id='text' cols='30' rows='10' required></textarea>
	</div>
	<div>
		<button type='submit'>Create Message</button>
	</div>
</form>

{{#if errors.length}}
	<div class='errors'>
		<p>Error(s) occurred:</p>
		<ul>
			{{#each errors}}
				<li>{{this.msg}}</li>
			{{/each}}
		</ul>
	</div>
{{/if}}