<div class='flex flex-col items-center justify-center mt-10'>
	<h1 class='text-2xl text-wild-sand-500 mb-4'>Create a messaage</h1>
	<form
		id='create-message-form'
		action='/create-message'
		method='post'
		class='max-w-md mx-auto p-4 border rounded-lg shadow-xl'
	>
		<div class='mb-4'>
			<label for='title' class='text-wild-sand-500'>Title</label>
			<input
				type='text'
				id='title'
				name='title'
				required
				class='w-full px-3 py-2 border border-wild-sand-300 rounded-lg focus:outline-none focus:border-blue-500'
			/>
		</div>
		<div class='mb-4'>
			<label for='text' class='text-wild-sand-500'>Message</label>
			<textarea
				name='text'
				id='text'
				cols='30'
				rows='10'
				required
				class='resize-none w-full px-3 py-2 border border-wild-sand-300 rounded-lg focus:outline-none focus:border-blue-500'
			></textarea>
		</div>
		<div class='mb-4'>
			<button
				type='submit'
				class='w-full bg-wild-sand-500 text-white p-2 rounded-lg hover:bg-wild-sand-600'
			>Create Message</button>
		</div>
	</form>

	{{#if errors.length}}
		<div
			class='max-w-md mt-4 p-4 border border-red-300 rounded-lg bg-red-100 text-red-700'
		>
			<p class='font-semibold text-red-500 mb-2'>Error(s) occurred:</p>
			<ul class='list-disc ml-6'>
				{{#each errors}}
					<li>{{this.msg}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
</div>