<h1>{{title}}</h1>
<form id='signup-form' action='/signup' method='post'>
	<div>
		<label for='username'>Username</label>
		<input type='text' id='username' name='username' required />
	</div>
	<div>
		<label for='password'>Password</label>
		<input type='password' id='password' name='password' required />
	</div>
	<div>
		<button type='submit'>Sign in</button>
	</div>
</form>